@media screen and (max-width: 600px) {
	h1{
		font-size: 25px;
	}
	.mail{
		display: none;
	}

}
@media screen and (max-width: 415px) {
	h1{
		font-size: 16px;
	}
	input {
		width: 80%;
	}
	#form .item {
		width: 100%;
	}
}

@media screen and (max-width: 330px) {
	input {
		width: 90%;
	}
	#form .item {
		width: 100%;
	}
	.service .items img {
		height: 150px
	}
	.item{
		width: 300px;
  	    height: 300px;
	}
	h1{
		font-size: 16px;
	}
	h2{
    	font-size: 20px;
	}
	.button{
	    margin-top: 36px;
	}
	.arrow_down{
		margin-top: 0;
	}
}

@media screen and (max-width: 830px) {
	.top_head{
		font-size: 16px;
	}
}
@media (max-width: 1024px) {
	.trust .item {
	    width: 310px;
	    height: 126px;
	    background-color: #0c0a0a;
	    color: #fff;
	}
}
@media (min-width: 1440px) and (max-width: 1499px) {
	.item{
		margin: 50px 10px 0  10px;
   	}
}
@media (min-width: 1500px) and (max-width: 1980px) {
	.item{
		margin: 50px 70px 0  70px;
   	}
}
@media (min-width: 1981px) {
	.items{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.trust .items{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.item{
   		margin-left: 150px;
   		margin-right: 150px;
}}