@media screen and (max-width: 575px) {
	h3{
	font-size: 1.75em;	
}
	header h3 {
    font-size: 1.75em;
}
	header h3 span.logo {
    	font-size: 2.75rem;
}
	header h4 {
    	font-size: 2.0rem;
        margin-top: -46px;
}

	.price{
		text-align: center;	
	}
	.price .right{
		text-align: center;	
	}
	.price .right .button {
   	padding: 1px 47px;
 	position: relative;
 	right: none;
}
	.us h4{
	    font-size: 18px;
	}
	.rule {
		font-size: 17px;
	}
	.rule ul li p {
    margin-left: 24px;
    margin-right: 0; 
}
	.room .blocks_room {
    	margin-top: none;
    	padding-bottom: 35px;
}
	.room .blocks_room h5{
	    margin-top: 15px;
	}
	.room .block_room {
    	margin-top: 0;
}
	.room .blocks_room h3{
    	margin-bottom: -40px;
	}
	.grum ul li {
    	list-style-type: none;
    	font-size: 20px;
    	color: #fff;
}
	.grum h2 {
    	font-size: 28px;
        margin-top: 60px;
}
	.grum a.button {
    	margin: 30px auto;
     	margin-top: 13px;
        text-align: center;
    display: block;
    width: 275px;
    padding: 2px 0 45px 0;
    font-size: 26px; 	
}
	.contact {
		font-size: 18px;
	}
	.price p {
    font-size: 17px;
}
.price .button {
    padding: 2px 47px;
    display: inline-block;
    margin: -8px 0px 22px 0;
}
.price .block_dog {
    padding-top: 10px;
    padding-bottom: 10px;
}
.price h4 {
    font-size: 1.5rem;
    color: #e98328;
    margin-top: 0;
}
}
@media screen and (min-width: 576px) {
	h3{
	font-size: 1.75em;	
}
	header h3 span.logo {
    	font-size: 2.75rem;
}
	header h4 {
    	font-size: 2.0rem;
    margin-top: -45px;
}

}
@media screen and (min-width: 768px) {
	h3{
	font-size: 1.75em;	
}
	header h3 span.logo {
    	font-size: 2.75rem;
}
	header h4 {
    	font-size: 2.0rem;
    margin-top: -45px;
}

}
@media screen and (min-width: 992px) {
h3{
	font-size: 42px;
}
	header h3 span.logo {
    	font-size: 50px;
}
	header h4 {
    	font-size: 45px;
}
}